%div.container
  - Songs.all.each do |song|
    %div.song
      %h2
        %a.song-title{:href => song[:url]}= "#{song[:artist]} - #{song[:track]}"
        %a{:href => song[:url], :target => "_blank"} ^
      %iframe.player{:title            => "#{song[:artist]} - #{song[:track]}",
                             :src              => song[:url].gsub("watch?v=", "embed/"),
                             :type             => "text/html",
                             :width            => "640",
                             :height           => "390",
                             :frameborder      => "0",
                             :allowFullScreen  => ""}
