!!!

%html
  %head
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %title fuckingawesomesongs.com
  %body
    %div.container
      %a{:href => "/"}
        %h1 fuckingawesomesongs.com

        - song = Songs.random_song
        %div.song
          %h2
            %a.song-title{:href => song[:url]}= "#{song[:artist]} - #{song[:track]}"
          %h3
            %a{:href => "/"} Click here for another fucking awesome song
          %iframe.player{:title            => "#{song[:artist]} - #{song[:track]}",
                                 :src              => song[:url].gsub("watch?v=", "embed/"),
                                 :type             => "text/html",
                                 :width            => "640",
                                 :height           => "390",
                                 :frameborder      => "0",
                                 :allowFullScreen  => ""}

      %p
        Got a song that you think should be here?
        %a{:href => "https://github.com/AndrewVos/fuckingawesomesongs.com"} Fork this project on github!
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-443109-12']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
